In [1]:
123

123

In [2]:
type(123)

int

In [3]:
type(123.45)

float

In [4]:
type('123.45')

str

In [5]:
print('Hello, world!')

Hello, world!

In [6]:
x=123
y=123.45
z='123.45'
print(x,y,z)
print(type(x),type(y),type(z))

123 123.45 123.45
<class 'int'> <class 'float'> <class 'str'>

In [8]:
sign_up=True
print(type(sign_up))

<class 'bool'>

In [13]:
z="The result of"+str(x)+"+"+str(y)+"="+str(x+y)
str(x+y)
print(type(str(y)))
print(z)

<class 'str'>
The result of123+123.45=246.45

In [14]:
z='I am from CUC'
print(z[0:4])
print(z[0:14])
print(z[-4:])

I am
I am from CUC
 CUC

In [15]:
print(len(z))
print(z[0:13])
print(z[-3:])
print(z[10:13])

13
I am from CUC
CUC
CUC

In [21]:
i = 'Hello, world!'
print(i)        # 输出完整字符串
print(i[0])        # 输出字符串中的第一个字符
print(i[2:5])     # 输出字符串中第三个至第六个之间的字符串
print(i[2:])      # 输出从第三个字符开始的字符串
print(i * 2)    # 输出字符串两次
print (i + " TEST")  # 输出连接的字符串

Hello, world!
H
llo
llo, world!
Hello, world!Hello, world!
Hello, world! TEST

In [25]:
famous_person ='Princess Diana'
print(famous_person)
famous_person2 = famous_person.replace('Diana','Kate')
print(famous_person, famous_person2)
print(famous_person.split())

Princess Diana
Princess Diana Princess Kate
['Princess', 'Diana']

In [30]:
name = 'Prince Charles'
print(name)
name = name.replace('Charles','William')
print(name)
name = name.upper()
print(name)
print(name.find('Charles'))
print(name.find('WILLIAM'))

Prince Charles
Prince William
PRINCE WILLIAM
-1
7

In [57]:
x = 3.14
y = str(x)
print(y)
type(y)

3.14

str

In [56]:
x = 3.14
y =str(x)
z1 = float(y)
print(z1)
type(z1)
z2 = int(y[0:y.find('.')])
print(z2)
print(type(z1))
print(type(z2))

3.14
3
<class 'float'>
<class 'int'>

In [31]:
list1=[1,1.32,2,'CUC']
tuple1=(1,1.32,2,'CUC')
print(list1)
print(tuple1)

[1, 1.32, 2, 'CUC']
(1, 1.32, 2, 'CUC')

In [32]:
myList=[1,2,3,4,5,1.5]
print(sorted(myList))

[1, 1.5, 2, 3, 4, 5]

In [38]:
score_list=[100,95,85,60,60.5,70]
print(score_list)
print(score_list[3])
score_list.append(50)
print(score_list)
del(score_list[6])
print(score_list[3:7])
print(score_list)
score_list.append([1,2,3,'I am from CUC.', True])
print(score_list)

[100, 95, 85, 60, 60.5, 70]
60
[100, 95, 85, 60, 60.5, 70, 50]
[60, 60.5, 70]
[100, 95, 85, 60, 60.5, 70]
[100, 95, 85, 60, 60.5, 70, [1, 2, 3, 'I am from CUC.', True]]

In [39]:
score_list.append([1,2,3,'I am from CUC.', True])
print(score_list)

[100, 95, 85, 60, 60.5, 70, [1, 2, 3, 'I am from CUC.', True], [1, 2, 3, 'I am from CUC.', True]]

In [41]:
second_list=[11,22,33]
second_list.append([44,55,66])
score_list.append(second_list)
print(score_list)
score_list.remove(100)
print(score_list)

[100, 95, 85, 60, 60.5, 70, [1, 2, 3, 'I am from CUC.', True], [1, 2, 3, 'I am from CUC.', True], [11, 22, 33, [44, 55, 66]], [11, 22, 33, [44, 55, 66]]]
[95, 85, 60, 60.5, 70, [1, 2, 3, 'I am from CUC.', True], [1, 2, 3, 'I am from CUC.', True], [11, 22, 33, [44, 55, 66]], [11, 22, 33, [44, 55, 66]]]

In [42]:
dict1={'peter':80,'david':90,'mary':100}
print(dict1)

{'peter': 80, 'david': 90, 'mary': 100}

In [43]:
print(dict1.keys())
print(dict1.values())

dict_keys(['peter', 'david', 'mary'])
dict_values([80, 90, 100])

In [44]:
print(dict1['david'])
score_list=[]
score_list.append(dict1)
print(score_list)

90
[{'peter': 80, 'david': 90, 'mary': 100}]

In [46]:
test1={'peter':50,'david':60,'mary':70}
assignment1={'peter':60,'david':70,'mary':80}
score_list=[]
score_list.append(test1)
score_list.append(assignment1)  
print(score_list)

[{'peter': 50, 'david': 60, 'mary': 70}, {'peter': 60, 'david': 70, 'mary': 80}]

In [48]:
#sef of mixed datatypes
my_set={1.0,'hello',(1,3,2)}
print(my_set)
print(type(my_set))

{1.0, (1, 3, 2), 'hello'}
<class 'set'>

In [49]:
#set cannot have duplicates
my_set={1,2,2,4}
print(my_set)

{1, 2, 4}

In [50]:
i=1
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [58]:
hrs_list=[30,40,50,60]
rate_list=[65,75,65,75]
name_list=['John','Mike','Mary','Jane']
fee_list=[]
for number in range(len(name_list)):
    hrs = hrs_list[number]
    rate = rate_list[number]
    fee = hrs*rate
    fee_list.append(fee)
    money_made = name_list[number]+' makes '+str(fee)+'.'
    print(money_made)

John makes 1950.
Mike makes 3000.
Mary makes 3250.
Jane makes 4500.

In [59]:
my_list = ['red','green','blue','orange','black']
index = 0
for i in my_list:
    if i =='blue':
        print(index,'blue is printed.')
        index +=1
    else:
        print(index, my_list[index])
        index +=1
print('This is done.')

0 red
1 green
2 blue is printed.
3 orange
4 black
This is done.

In [3]:
import pandas as pd
df1 = pd.DataFrame({
    # Define dataframe as a dictionary object
    'Product ID':[1,2,3,4],
    # Add product name and color here
    'Product Name':['Tshirt','Jeans','Shirt','Skirt'],
    'Color':['blue','green','red','black'],
    'Units Sold':[250,300,180,200]
})
print(df1)

   Product ID Product Name  Color  Units Sold
0           1       Tshirt   blue         250
1           2        Jeans  green         300
2           3        Shirt    red         180
3           4        Skirt  black         200